<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Campeonato Brasileiro</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1>Bem-vindo ao Brasileirão App!</h1>
    <p>Este é o ponto de partida do seu projeto. Nas próximas entregas, aqui serão listados os campeonatos e outras informações.</p>
    <p>Para testar a 1ª e 2ª entrega (console), execute a aplicação e observe as saídas no terminal da IDE.</p>

</div>
</body>
</html>